:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --tomato: hsl(4, 100%, 67%);
  --darkSlateGray: hsl(234, 29%, 20%);
  --charcoalGrey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --primary-color: var(--tomato);
  --font-family: "Roboto", sans-serif;
  --font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

#image-desktop,
#confirmation {
  display: none;
}

section#upper-container {
  margin: 0;
  padding: 0;
}
section#upper-container img {
  min-height: 300px;
  width: 100%;
  margin-top: -20px;
  padding: 0;
}

#lower-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  margin: 2rem;
  line-height: 1.4rem;
}
#lower-container h1 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--charcoalGrey);
  margin-bottom: 1.7rem;
}
#lower-container ul {
  list-style: none;
}
#lower-container ul li {
  display: flex;
  align-items: flex-start;
  margin: 1rem 0;
}
#lower-container ul li img {
  margin-right: 1rem;
}

#signup-form {
  display: flex;
  flex-direction: column;
  margin: 1.3rem 0;
}
#signup-form label {
  font-size: 0.7rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}
#signup-form input#email-address {
  padding: 1rem;
  border-radius: 0.5rem;
  border: solid 1px lightgray;
  outline: none;
  margin-bottom: 1.3rem;
}
#signup-form button#submit-btn {
  background-color: var(--darkSlateGray);
  color: white;
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  font-weight: 500;
}

#indication {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#indication span {
  font-size: 12px;
  color: red;
}

@media (min-width: 1440px) {
  #upper-container,
  #confirmation.confirmation {
    display: none;
  }
  #confirmation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    width: 500px;
    padding: 30px;
  }
  #confirmation h1 {
    font-size: 40px;
  }
  #confirmation #upper-part-confirmation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
  }
  #confirmation #upper-part-confirmation img {
    width: 50px;
  }
  #confirmation #upper-part-confirmation span {
    font-weight: bold;
  }
  #confirmation #lower-part-confirmation button {
    background-color: var(--darkSlateGray);
    color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    font-weight: 500;
    cursor: pointer;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkSlateGray);
  }
  main {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 700px !important;
    border-radius: 1rem;
    padding: 1rem;
    overflow: hidden;
  }
  #image-desktop {
    display: flex;
  }
  #image-desktop img#image {
    min-height: 100%;
    object-fit: cover;
    width: 300px;
    border-radius: 1rem;
  }
  #lower-container {
    flex-direction: column;
    margin: 0 1rem;
    padding: 1rem;
  }
  #lower-container h1 {
    margin-top: 3rem;
  }
  #indication p,
  #indication span,
  ul li {
    font-size: 12px;
  }
}

/*# sourceMappingURL=main.css.map */
