// Variables
:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --tomato: hsl(4, 100%, 67%);
  --darkSlateGray: hsl(234, 29%, 20%);
  --charcoalGrey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --primary-color: var(--tomato);
  --font-family: 'Roboto', sans-serif;
  --font-size: 16px;
}

// Global Styles
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

#image-desktop,
#confirmation {
  display: none;
}

section#upper-container {
  margin: 0;
  padding: 0;

  img {
    min-height: 300px;
    width: 100%;
    margin-top: -20px;
    padding: 0;
  }
}

#lower-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  margin: 2rem;
  line-height: 1.4rem;

  h1 {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--charcoalGrey);
    margin-bottom: 1.7rem;
  }

  ul {
    list-style: none;

    li {
      display: flex;
      align-items: flex-start;
      margin: 1rem 0;

      img {
        margin-right: 1rem;
      }
    }
  }
}

#signup-form {
  display: flex;
  flex-direction: column;
  margin: 1.3rem 0;

  label {
    font-size: 0.7rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
  }

  input#email-address {
    padding: 1rem;
    border-radius: 0.5rem;
    border: solid 1px lightgray;
    outline: none;
    margin-bottom: 1.3rem;
  }

  button#submit-btn {
    background-color: var(--darkSlateGray);
    color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    font-weight: 500;
    cursor: pointer;
  }
  button#submit-btn:hover{
    background-color: rgb(79, 8, 98);
  }
}

#indication {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  span {
    font-size: 12px;
    color: red;
  }
}

// Media Queries
@media (min-width: 1440px) {

  #upper-container,
  #confirmation.confirmation {
    display: none;
  }

  #confirmation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    width: 500px;
    padding: 30px;

    h1 {
      font-size: 40px;
    }

    #upper-part-confirmation {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 300px;

      img {
        width: 50px;
      }

      span {
        font-weight: bold;
      }
    }

    #lower-part-confirmation button {
      background-color: var(--darkSlateGray);
      color: white;
      padding: 1rem;
      text-align: center;
      border-radius: 0.5rem;
      font-weight: 500;
      cursor: pointer;
    }

    #lower-part-confirmation button:hover{
      background-color: rgb(79, 8, 98);
    }
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkSlateGray);
  }

  main {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 700px !important;
    border-radius: 1rem;
    padding: 1rem;
    overflow: hidden;
  }

  #image-desktop {
    display: flex;

    img#image {
      min-height: 100%;
      object-fit: cover;
      width: 300px;
      border-radius: 1rem;
    }
  }

  #lower-container {
    flex-direction: column;
    margin: 0 1rem;
    padding: 1rem;

    h1 {
      margin-top: 3rem;
    }
  }

  #indication p,
  #indication span,
  ul li {
    font-size: 12px;
  }
}